[Unit]
Description=Controller mapping service

[Service]
Restart=always
RestartSec=15
WorkingDirectory=~
ExecStartPre=/bin/systemctl --user import-environment DISPLAY XAUTHORITY
ExecStart=/home/gustav/.local/bin/controller -n "SZMy-power LTD CO.  Dual Box WII" -I 0 -w 5

[Install]
WantedBy=default.target
