[Unit]
Description=Lock screen after idling

[Service]
Restart=always
RestartSec=5
ExecStartPre=/bin/systemctl --user import-environment DISPLAY XAUTHORITY
ExecStart=/home/gustav/bin/after_idle_do 120 /home/gustav/bin/lock

[Install]
WantedBy=default.target
