[Unit]
Description=Suspend after idling

[Service]
Restart=always
RestartSec=5
ExecStartPre=/bin/systemctl --user import-environment DISPLAY XAUTHORITY
ExecStart=/home/gustav/bin/after_idle_do 600 /home/gustav/bin/suspend

[Install]
WantedBy=default.target
