source ~/.muttrc

set from = "Gustav Behm <me@rootmos.io>"
set pgp_sign_as = "8219E49C138B117F6CBA3FD9413B70A6B053F80C"
set pgp_autosign = yes
set smtp_url = "smtps://me@rootmos.io@smtp.fastmail.com:465/"

set sidebar_visible = yes

set folder = "~/mail/private"
set record = "+/Sent"
set postponed = "+/Drafts"
set spoolfile = "+/INBOX"

mailboxes "+/INBOX" "+/Berlin" "+/Berlin.apt-get" "+/arXiv" "+/Games" "+/Work"

macro index,pager d "<save-message>+/Archive<enter><enter>" "Archive"
macro index,pager N "<sidebar-next><sidebar-open>"
macro index,pager P "<sidebar-prev><sidebar-open>"
macro index,pager B "<sidebar-toggle-visible>"

source "gpg --batch --quiet --decrypt ~/.password-store/fastmail/pass.rc.gpg |"
