source ~/.muttrc

set from = "Gustav Behm <gustav@upvest.co>"
set pgp_sign_as = "F9750FED6C062540C00B60D097F50513C78810A7"
set pgp_autosign = yes
set smtp_url = "smtps://gustav@upvest.co@smtp.gmail.com:465/"

set folder = "~/mail/work"
set record = "+/[Gmail].Sent Mail"
set postponed = "+/[Gmail].Drafts"
set spoolfile = "+/INBOX"

source "gpg --batch --quiet --decrypt ~/.mutt/upvest.co.pass.rc.gpg |"
