[user]
    email = me@rootmos.io
    name = Gustav Behm
    signingkey = 413B70A6B053F80C
[commit]
    gpgsign = true
[core]
    editor = edit
    excludesfile = ~/.gitignore_global
    hooksPath = ~/git/config/git-hooks
[merge]
    tool = nvimdiff
[push]
    default = simple
[alias]
    f = fetch
    s = status
    a = add --interactive
    ap = add --patch
    rp = restore --staged --patch
    c = commit --verbose
    ca = commit --verbose --amend
    ba = branch --sort=committerdate --all -vv
    ls = ls-files
    co = !sh -c 'git checkout -B $1 ${2-origin}/$1' -
    m = !sh -c 'git checkout -B $1 origin/$1 && git merge --no-ff $2' -
    b = checkout -B
    d = checkout --detach
    r = rebase -i
    fb = filter-branch --prune-empty --subdirectory-filter
    github = !sh -c 'git clone git@github.com:$1.git' -
    sourcehut = !sh -c 'git clone git@git.sr.ht:~$1' -
    head = !sh -c 'git rev-parse HEAD | tee >(tr -dc [:alnum:] | xclip)'
    p = push
    pp = push --force
    pb = !sh -c 'git push --set-upstream ${1-origin} $(git rev-parse --abbrev-ref HEAD)'
[color]
    ui = auto
[pull]
    ff = only
[init]
    defaultBranch = master
[safe]
    directory = /home/gustav/mnt/keys/password-store
