[user]
    email = me@rootmos.io
    name = Gustav Behm
    signingkey = 413B70A6B053F80C
[includeIf "gitdir:~/arweave/"]
    path = ~/arweave/.gitconfig
[commit]
    gpgsign = true
[core]
    editor = vim
    excludesfile = /home/gustav/.gitignore_global
[merge]
    tool = vimdiff
[push]
    default = simple
[alias]
    f = fetch
    a = add --interactive
    ap = add --patch
    c = commit --verbose
    ca = commit --verbose --amend
    ba = branch --sort=committerdate --all -vv
    ls = ls-files
    co = !sh -c 'git checkout -B $1 ${2-origin}/$1' -
    m = !sh -c 'git checkout -B $1 origin/$1 && git merge --no-ff $2' -
    b = checkout -B
    d = checkout --detach
    r = rebase -i
    fb = filter-branch --prune-empty --subdirectory-filter
[color]
    ui = auto
