conky.config = {
    background = true,
    out_to_console = true,
    out_to_x = false,
    update_interval = 2
}

conky.text = string.gsub([[
^fg(\#aaaaaa)${exec /home/gustav/bin/countdown}^fg(\#FFFFFF) \
| ^fg(\#aaaaaa)↓${downspeedf IFACE}^fg(\#FFFFFF) ^fg(\#aaaaaa)↑${upspeedf IFACE}^fg(\#FFFFFF) \
| ^fg(\#aaaaaa)${exec monitor-client ping avg}ms ${exec monitor-client ping loss}% ${exec monitor-client location}^fg(\#FFFFFF) \
| ^fg(\#aaaaaa)/ ${exec monitor-client fs available /}^fg(\#FFFFFF) \
^fg(\#aaaaaa)/tmp ${exec monitor-client fs usage /tmp}%^fg(\#FFFFFF) \
| ^fg(\#aaaaaa)${exec /home/gustav/bin/zones status -t}^fg(\#FFFFFF) \
| ^fg(\#aaaaaa)C:${cpu}% T:${hwmon 2 temp 1}° S:${swapperc}% M:${memperc}%^fg(\#FFFFFF) \
| ^fg(\#aaaaaa)${time %d-%m-%Y} ^fg(\#ebac54) ${time %R}
]], 'IFACE', 'enp3s0')
